language: python
sudo: false
services:
  - docker
python:
  - "3.5.1"
  - "3.5"
  - "3.6"
install:
  - pip install codecov
  - pip install -r requirements.txt
script:
  - pytest tests
  - PYTHONASYNCIODEBUG=x pytest tests
after_success:
  - codecov
cache: pip
notifications:
  email: false
